@import 'sprite';
@include sprites($spritesheet-sprites); //Use for sprites
@import 'elements/elements';
@import 'blocks/blocks';
@import 'responsive'; 

//for fine uploader
.qq-edit-filename-icon {
	background: url("../../img/edit.gif");
}
.qq-upload-spinner {
	background: url("../../img/loading.gif");
}
.qq-drop-processing-spinner {
	background: url("../../img/processing.gif");
}
.layout-fixed .main-sidebar-custom .sidebar-custom {
	padding: 1.2rem .5rem;
	text-align: center;
}
.sidebar-custom{
	&-txt {
		font-size: 1rem;
		color: #6c757d;
	}
}
.sidebar-mini.sidebar-collapse{
	.sidebar-custom-desc{
		display: none;
	}
}
.sidebar{
	&:hover{
		&+.sidebar-custom {
			.sidebar-custom-desc {
				display: inline-block;
			}
		}
	}
}
@media screen and (max-width: 1200px){

}
